Q1.

In [ ]:
def gugudan(num):
  print('{} 단'.format(num))
  for i in range(1, 10, 2):
    if i*8 <= 50:
      print(num, 'X', i, '=', 8*i)

In [ ]:
number = int(input('몇 단? :'))
gugudan(number)

몇 단? :8
8 단
8 X 1 = 8
8 X 3 = 24
8 X 5 = 40

Q3.

In [ ]:
def find_even_number(n,m):
  numbers = [i for i in range(n, m+1)]
  index = len(numbers) // 2
  median = numbers[index]
  for i in numbers:
    if i % 2 == 0 and i != median:
      print(i, '짝수')
    elif i % 2 == 0 and i == median:
      print(i, '중앙값')

In [ ]:
n = int(input('첫 번째 수 입력: '))
m = int(input('두 번째 수 입력: '))
find_even_number(n,m)

첫 번째 수 입력: 1
두 번째 수 입력: 11
2 짝수
4 짝수
6 중앙값
8 짝수
10 짝수