# Q1.

In [ ]:
def grader(name, score):
  grade = ''
  if 95 <= score <= 100:
    grade = 'A+'
  elif 90 <= score <=94:
    grade = 'A'
  elif 85 <= score <= 89:
    grade = 'B+'
  elif 80 <= score <=84:
    grade = 'B'
  elif 75 <= score <= 79:
    grade = 'C+'
  elif 70 <= score <= 74:
    grade = 'C'
  elif 65 <= score <= 69:
    grade = 'D+'
  elif 60 <= score <= 64:
    grade = 'D'
  elif score < 60:
    grade = 'F'

  print('학생이름 :', name)
  print('점수 : {}점'.format(score))
  print('학점 :', grade)

In [ ]:
grader('이호창', 99)

학생이름 : 이호창
점수 : 99점
학점 : A+

# Q2.

In [ ]:
def yearly_payment(monthly_payment):
  before_tax = monthly_payment * 12
  if 0 < before_tax <= 1200:
    after_tax = before_tax * 0.94
  elif 1200 < before_tax <= 4600:
    after_tax = before_tax * 0.85
  elif 4600 < before_tax <= 8800:
    after_tax = before_tax * 0.76
  elif 8800 < before_tax <= 15000:
    after_tax = before_tax * 0.65
  elif 15000 < before_tax <= 30000:
    after_tax = before_tax * 0.62
  elif 30000 < before_tax <= 50000:
    after_tax = before_tax * 0.6
  else:
    after_tax = before_tax * 0.56

  print('세전 연봉: {:.0f}만원'.format(before_tax))
  print('세후 연봉: {:.0f}만원'.format(after_tax))

In [ ]:
yearly_payment(300)

세전 연봉: 3600만원
세후 연봉: 3060만원

# Q3.

In [ ]:
def bus_fare(age, payment_type):
  if 0 <= age < 8:
    fare = 0
  elif 8 <= age < 14:
    fare = 450
  elif 14 <= age < 20:
    if payment_type == '카드':
      fare = 720
    else:
      fare = 1000
  elif 20 <= age < 75:
    if payment_type == '카드':
      fare = 1200
    else:
      fare = 1300
  else:
    fare = 0

  print('나이: {}세'.format(age))
  print('지불유형: {}'.format(payment_type))
  print('버스요금: {}원'.format(fare))

In [ ]:
bus_fare(30, '현금')

나이: 30세
지불유형: 현금
버스요금: 1300원

# Q4.

In [ ]:
# 방법 1)
import random

def rcp(my):
  computer = random.randint(0, 2)

  if computer == 0:
    computer = '가위'
  elif computer == 1:
    computer = '바위'
  elif computer == 2:
    computer = '보'

  if my == '0':
    my = '가위'
  elif my == '1':
    my = '바위'
  elif my == '2':
    my = '보'

  print('나:', my)
  print('컴퓨터:', computer)

  if my == '가위':
    if computer == '가위':
      print('무승부!')
    elif computer == '바위':
      print('컴퓨터 승리!')
    elif computer == '보':
      print('사용자 승리!')

  elif my == '바위':
    if computer == '가위':
      print('사용자 승리!')
    elif computer == '바위':
      print('무승부!')
    elif computer == '보':
      print('컴퓨터 승리!')

  elif my == '보':
    if computer == '가위':
      print('컴퓨터 승리!')
    elif computer == '바위':
      print('사용자 승리!')
    elif computer == '보':
      print('무승부!')

In [ ]:
my = input('가위 바위 보')
rcp(my)

가위 바위 보2
나: 보
컴퓨터: 가위
컴퓨터 승리!

In [ ]:
# 방법 2)
import random

def rcp(my):
  computer = random.randint(0, 2)

  choice_dict = {0:'가위', 1:'바위', 2:'보'}
  computer = choice_dict[computer]

  try:
    my = choice_dict[int(my)]
  except:
    pass

  print('나:', my)
  print('컴퓨터:', computer)

  if my == computer:
    print('무승부!')
  elif (my == '가위 ' and computer == '보') or (my == '바위' and computer == '가위') or (my == '보' and computer == '바위'):
    print('사용자 승리!')
  else:
    print('컴퓨터 승리!')

In [ ]:
my = input('가위 바위 보')
rcp(my)

가위 바위 보2
나: 보
컴퓨터: 보
무승부!