# Q1.

In [ ]:
# 왕이름
korea_king = "태조,혜종,정종,광종,경종,성종,목종,현종,덕종,정종,문종,순종,선종,헌종,숙종,예종,인종,의종,명종,신종,희종,강종,고종,원조,충렬왕,충선왕,충숙왕,충혜왕,충목왕,충정왕,공민왕,우왕,창왕,공양왕"
chosun_king = "태조,정종,태종,세종,문종,단종,세조,예종,성종,연산군,중종,인종,명종,선조,광해군,인조,효종,현종,숙종,경종,영조,정조,순조,헌종,철종,고종,순종"

In [ ]:
def king(era1, era2):
  king_dict = {}
  for name in era1.split(','):
    if name in era2.split(','):
      king_dict[name] = None
      print('조선과 고려에 모두 있는 왕 이름 :', name)
  print('조선과 고려에 모두있는 왕 이름은 총 {}개입니다'.format(len(king_dict.keys())))

In [ ]:
king(korea_king, chosun_king)

조선과 고려에 모두 있는 왕 이름 : 태조
조선과 고려에 모두 있는 왕 이름 : 정종
조선과 고려에 모두 있는 왕 이름 : 경종
조선과 고려에 모두 있는 왕 이름 : 성종
조선과 고려에 모두 있는 왕 이름 : 현종
조선과 고려에 모두 있는 왕 이름 : 정종
조선과 고려에 모두 있는 왕 이름 : 문종
조선과 고려에 모두 있는 왕 이름 : 순종
조선과 고려에 모두 있는 왕 이름 : 헌종
조선과 고려에 모두 있는 왕 이름 : 숙종
조선과 고려에 모두 있는 왕 이름 : 예종
조선과 고려에 모두 있는 왕 이름 : 인종
조선과 고려에 모두 있는 왕 이름 : 명종
조선과 고려에 모두 있는 왕 이름 : 고종
조선과 고려에 모두있는 왕 이름은 총 13개입니다

# Q2.

In [ ]:
# 이름, 실적
member_names = ["갑돌이", "갑순이", "을돌이", "을순이", "병돌이", "병순이"]
member_records = [[4,5,3,5,6,5,3,4,1,3,4,5],[2,3,4,3,1,2,0,3,2,5,7,2],
           [1,3,0,3,3,4,5,6,7,2,2,1],[3,2,9,2,3,5,6,6,4,6,9,9],
           [8,7,7,5,6,7,5,8,8,6,10,9],[7,8,4,9,5,10,3,3,2,2,1,3]]

In [ ]:
def sales_management(member_names, member_records):
  import numpy as np

  sales_dict = {}
  for n, r in zip(member_names, member_records):
    sales_dict[n] = np.mean(r)

  sales_dict = dict(sorted(sales_dict.items(), key=lambda x:x[1], reverse=True))
  sales_lst = list(sales_dict.keys())

  for k, v in sales_dict.items():
    if v > 5 and k in sales_lst[:2]:
      print('보너스 대상자', k)
    elif v < 3 and k in sales_lst[5:]:
      print('\n면담 대상자', k)

In [ ]:
sales_management(member_names, member_records)

보너스 대상자 병돌이
보너스 대상자 을순이

면담 대상자 갑순이

# Q3.

In [ ]:
# 종목 이름, 수량, 매수 평균 금액
stocks = "삼성전자/10/85000,카카오/15/130000,LG화학/3/820000,NAVER/5/420000"

# 종목별 판매가
sells = [82000, 160000, 835000, 410000]

In [ ]:
# cf.수익률 = (매도가격 - 매수가격)/매수가격

def stock_profit(stocks, sells):
  rate_dic = {}
  for stock, sell in zip(stocks.split(','), sells):
    name, buy = stock.split('/')[0], int(stock.split('/')[2])

    rate = (sell - buy)/buy
    rate_dic[name] = rate*100

  rate_dic = dict(sorted(rate_dic.items(), key=lambda x:x[1], reverse=True))
  rate_dic
  for i in rate_dic.items():
    name, rate = i[0], i[1]
    print(f'{name}의 수익률 {rate:.3}')

In [ ]:
stock_profit(stocks, sells)

카카오의 수익률 23.1
LG화학의 수익률 1.83
NAVER의 수익률 -2.38
삼성전자의 수익률 -3.53